* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 700vh;
    color: #fff;
}

.head-container {
    background-color: #0a4d4d;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.head-one img {
    height: 30px;
    margin-left: 40px;
}

.head-two {
    margin-right: 200px;
}

.head-two a {
    text-decoration: none;
    margin-right: 30px;
    color: white;
    font-size: 16px;
}

.head-three {
    margin-right: 40px;
}

.head-three i {
    color: white;
    font-size: 25px;
}


.body-container {
    color: black;
    display: flex;
    margin-top: 10vh;
}

.image {
    height: 90vh;
    background-color: #ddd;
}

.images {
    margin-left: 20vh;
}

.image img {
    height: 80vh;
}

.small-main {
    height: 100vh;
    width: 75vh;
    display: flex;
    flex-direction: column;
    padding-left: 8vh;
}

.teclast {
    font-weight: bold;
}

.teclast-one {
    font-size: 35px;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.teclast-twos {
    font-size: 20px;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.teclast-two {
    font-size: 20px;
    margin-bottom: 5vh;
}

.B {
    height: 8vh;
    background-color: rgb(241, 9, 40);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

/* # */

.body-containers {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.body-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.inchs {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 3vh;
}

.body-two {
    display: flex;
    gap: 30px;
}

.control {
    height: 60vh;
    /* background-color: #ddd; */
}

.body-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-image img {
    height: 55vh;
}

.plus {
    margin-top: 2vh;
    font-size: 20px;
}

.inchss {
    margin-bottom: 3vh;
    font-weight: bold;
}

/* # */

.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
}

.footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px;
}

.footer-column h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}

.footer-column a:hover {
    color: orange;
}

.newsletter input {
    padding: 5px;
    margin-right: 5px;
    border: none;
    background: #333;
    color: #fff;
}

.newsletter button {
    padding: 5px 10px;
    background: #333;
    border: none;
    color: #fff;
    cursor: pointer;
}

.chat-button {
    background-color: #ff6200;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
    border: 1px solid #ddd;
    height: 5vh;
    width: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons{
    display: flex;

}

.powered-by {
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
}

.language {
    text-align: right;
    width: 100%;
    font-size: 12px;
}